&emsp;<h5>Plase wait for comfirmation</h5>&emsp;

<div class="header_bottom">

    <div class="header_bottom_left">
        <div class="categories">

            <ul>
                <h3>Our Providers</h3>
                <!-- <li class="search_box" >
                     <form method="post" action="/searchcompany">
                         <input type="text" name="srch" id="srch" list="datalist1" />
                         <datalist id="datalist1">
                      {{#each companies}}
                             <option value = {{this.company_name}}/>

                          {{/each}}
                         </datalist>
                         <input type="submit" value="">
                     </form>
                 </li>
                    -->
                {{#each companies}}
                <li><a href="/viewcompany{{this.company_id}}">{{this.company_name}}</a></li>
                {{/each}}
            </ul>




        </div>
    </div>
    <div class="header_bottom_right">
        <!------ Slider ------------>
        <div class="slider">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="images/pharmacy1.jpg" data-thumb="images/Frontimage.jpg" alt="" height="500" width="1000" />
                    <!--<img src="images/2.jpg" data-thumb="images/2.jpg" alt="" />
                    <img src="images/3.jpg" data-thumb="images/3.jpg" alt="" />
                    <img src="images/4.jpg" data-thumb="images/4.jpg" alt="" />
                     <img src="images/5.jpg" data-thumb="images/5.jpg" alt="" /> -->
                </div>
            </div>
        </div>
        <!------End Slider ------------>
    </div>
    <div class="clear"></div>
</div>
   		</div>
   </div>
<div>

</div>
<div class="wrap">

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp



</div>