
<div class="main">
    <div class="wrap">
        <div class="content">

            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h2>Feedback Form</h2>
                        
                        <form method="post" action="/discussion">
                            <input type="radio" name="gender" value="Complain"> Complain &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" value="Suggestion"> Suggestion  &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" value="other"> Other

                            <div>

                                <span><label>Subject</label></span>

                                <span><input name="subject" id="name" type="text" class="textbox"></span>

                            </div>
                            <div>
                                <span><label>Details</label></span>

                                <span><textarea name="userMsg"> </textarea></span>



                            </div>















                            <div>
                                <span><input type="submit" value="Submit" class="mybutton"></span>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
