
 <div class="main">
 	<div class="wrap">
     <div class="content">
     	<div class="content_top">
    		<div class="back-links">
    		<p><a href="index.html">Home</a> &gt;&gt;&gt;&gt; <a href="#" class="active">Registaion Form</a></p>
    	    </div>
    		<div class="clear"></div>
    	</div>
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>{{title1}}</h2>
					    <form method="post" action="/adduser">
					    	<div>
						    	<span><label>Pharmacy Registation No</label></span>
						    	<span><input name="ID" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>Pharmacy Name</label></span>
						    	<span><input name="Name" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Owner Name</label></span>
						    	<span><input name="Owner" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Address</label></span>
						    	<span><input name="Adderss" type="text" class="textbox"></span>
						    </div>
						
						    <div>
						     	<span><label>Password</label></span>
						    	<span><input name="Password" type="text" class="textbox"></span>
						    </div>
						   
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h2>Find Us Here</h2>
					    	  <div class="map">
							   	    <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#888;text-align:left;font-size:0.85em">View Larger Map</a></small>
							  </div>
      				</div>

      				<div>
						   		<span><input type="submit" value="Submit"  class="mybutton"></span>
						  </div>
					    </form>
      			
				 </div>
			  </div>		
         </div> 
    </div>
 </div>
   