<div class="header_bottom">
					<div class="header_bottom_left">				
						<div class="categories">
						
						   <ul>
						  	   <h3>Our Providers</h3>
                              <!-- <li class="search_box" >
                                   <form method="post" action="/searchcompany">
                                       <input type="text" name="srch" id="srch" list="datalist1" />
                                       <datalist id="datalist1">
                                    {{#each companies}}
                                           <option value = {{this.company_name}}/>

                                        {{/each}}
                                       </datalist>
                                       <input type="submit" value="">
                                   </form>
                               </li>
                                  -->
						  	   {{#each companies}}
							      <li><a href="/viewcompany{{this.company_id}}">{{this.company_name}}</a></li>
							     {{/each}} 
						  	 </ul>
						  	 
						  	 
						
						
						</div>					
		  	         </div>
						    <div class="header_bottom_right">					 
						 	    <!------ Slider ------------>
								  <div class="slider">
							      	<div class="slider-wrapper theme-default">
							            <div id="slider" class="nivoSlider">
							                <img src="images/pharmacy1.jpg" data-thumb="images/Frontimage.jpg" alt="" height="500" width="1000" />
							                <!--<img src="images/2.jpg" data-thumb="images/2.jpg" alt="" />
							                <img src="images/3.jpg" data-thumb="images/3.jpg" alt="" />
							                <img src="images/4.jpg" data-thumb="images/4.jpg" alt="" />
							                 <img src="images/5.jpg" data-thumb="images/5.jpg" alt="" /> -->
							            </div>
							        </div>
						   		</div>
						<!------End Slider ------------>
			         </div>
			     <div class="clear"></div>
			</div>
   		</div>
   </div>
   <div>
   
   </div>
   <div class="wrap">
   <div class="product_desc">	
			 <h2>About Us</h2>
			   <h2><p>
    Pharmaceutical distribution system supplies branded, generic and over-the-counter pharmaceuticals to customers.
    We base our distribution excellence on online order processing to the best in order accuracy and industry leadership in supply chain safety. We offer competitive value through world-class sourcing, aggressively negotiated pricing, and high-value rebate terms. We work with our customers on solutions-including supply management technology, world-class marketing programs, managed care and repackaging products and services-that help them meet their business and quality goals.
    This website empowers customers by providing the broadest suite of products and services and deepest range of experience in healthcare. We bring together industry-leading distribution services, packaging and information solutions to reduce costs and improve the quality for you.

    Call 0112-757750 today to learn more about how our products and services can help you.
</p></h2>

<h2>How to Join Us</h2>
<h2><p>
    Pharmaceutical distribution system offers opportunities to all pharmacies in Puttalam - Polonnaruwa route. We are always looking for new users. We encourage you to take a look at our website to get a feel for who we are, the type of work we do, our mission and values, and our employees.
</h2>
</p>
	   </div>

	   </div>