<div class="header_bottom">
					<div class="header_bottom_left">				
						<div class="categories">
						
						   <ul>
						  	   <h3>Companies</h3>
                               <li class="search_box" >
                                   <form method="post" action="/searchcompany">
                                       <input type="text" name="srch" id="srch" list="datalist1" />
                                       <datalist id="datalist1">
                                    {{#each companies}}
                                           <option value = {{this.company_name}}/>

                                        {{/each}}
                                       </datalist>
                                       <input type="submit" value="">
                                   </form>
                               </li>
						  	   {{#each companies}}
							      <li><a href="/viewcompany{{this.company_id}}">{{this.company_name}}</a></li>
							     {{/each}} 
						  	 </ul>
						  	 
						  	 
						
						
						</div>					
		  	         </div>
						    <div class="header_bottom_right">					 
						 	    <!------ Slider ------------>
								  <div class="slider">
							      	<div class="slider-wrapper theme-default">
							            <div id="slider" class="nivoSlider">
							                <img src="images/fornt.jpg" data-thumb="images/fornt.jpg" alt="" height="500" width="1000" />
							                <!--<img src="images/2.jpg" data-thumb="images/2.jpg" alt="" />
							                <img src="images/3.jpg" data-thumb="images/3.jpg" alt="" />
							                <img src="images/4.jpg" data-thumb="images/4.jpg" alt="" />
							                 <img src="images/5.jpg" data-thumb="images/5.jpg" alt="" /> -->
							            </div>
							        </div>
						   		</div>
						<!------End Slider ------------>
			         </div>
			     <div class="clear"></div>
			</div>
   		</div>
   </div>
   <div>
   
   </div>
   <div class="wrap">
   <div class="product_desc">	
			 <h2>About Us</h2>
			   <h2><p>As a leading pharmaceutical wholesaler, we offer a complete line of brand and generic prescription and over the counter drug supplies. Our core values are incorporated into everything we do, including listening, responding promptly to your needs, and going the extra mile on pricing and service. 

members of:
	
And that has helped us build lasting relationships with hospitals, surgery centers, long-term care facilities, governments, and many other healthcare providers.

We are your low cost wholesaler that strives to work with you to solve your needs and any issues that may arise. We believe very strongly in people and relationships and always hold up to our end of the bargain.  We will always honor any contract that we have agreed to with no hidden fees.

In addition to our pharmaceutical wholesale business, we now offer specialty distribution services through our Specialty Medical Distribution division, as well as pharmacy management services through our subsidiary, DMS Pharmacy Management, Inc.  We can help you streamline your pharmacy operations and provide the best care for your patients at the most affordable level.

Let us show you what we can do for you. Find out more about our products and services using the navigation menu above.

Call (877) 788-1100 today to learn more about how our products and services can help you.</p></h2>

<h2>How to Join Us</h2>
<h2><p>
HDA membership provides access to networking opportunities, research, member-developed education and resources for the healthcare supply chain.Distributors considering an HDA membership must purchase or receive pharmaceutical and health-related products in bulk quantities, inventory these products, distribute them in individual package quantities and provide other value-added services to its suppliers and healthcare providers. </h2>
</p>
	   </div>

	   </div>