<form method="post" action="/login">
					    	<div>
						    	<span><label>Pharmacy Registation No</label></span>
						    	<span><input name="username" type="text" class="textbox"></span>
						    </div>
						    
						
						    <div>
						     	<span><label>Password</label></span>
						    	<span><input name="password" type="text" class="textbox"></span>
						    </div>
						   
				  </div>
  				
      				<div>
						   		<span><input type="submit" value="Submit"  class="mybutton"></span>
						  </div>
					    </form>