<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="md-form">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input name="myImage" type="file">
            </div>
            
        </div>
        <button type="submit"> Submit </button>
    </div>
</form>
<br>
<img src={{file}} width="150" height="150">